body{
	background: #B3B3B3;
	margin: 2%;
	height: 1400px;
	background-image: url('../images/Mackovi2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
header{
background: rgba(192,192,192,0.5);
	text-align: center;
	height: 120px;
	width: 65%;
    border-radius: 10px;
}
h1{
	color: #FFFFFF;
	font-size: 250%;
}
nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, "Times New Roman", Sarif;
}
nav a{
	width: 22%;
	display: inline-block;
	color: #000000;
	margin-left: 5%;
	margin-right: 5%;
}
.saturday{
	display: inline-block;
	width: 40%;
	height: 150px;
	float: left;
	background: rgba(192,192,192,0.5);
	font-size: 100%;
	border-radius: 10px;
	font-size: 120%;
	padding: 2%;
	position: relative;
	top: 7%;
}
.sunday{
	display: inline-block;
	width: 40%;
	float: left;
	background: rgba(192,192,192,0.5);
	border-radius: 10px;
	font-size: 120%;
	padding: 2%;
	position:relative;
	top: 35%;
	left: 10%;
}
.whole{
	background: rgba(192,192,192,0.4);
	height: 50px%;
	clear: both;
	width: 55%;
	border-radius: 5px;
	padding: 10px;
	font-size: 120%;
	position: relative;
	top: 55%;
}
h3{
	margin: 0;
}
.instructions{
	position: relative;
	top: 7%;
	font-size: 250%;
	color: #FFFFFF;
}
#contact{
	color: #FFFFFF;
	font-size: 250%;
	position: relative;
	right: 88%;
	top: 69%;
}
h2{
	margin: 0;
	color: #FFFFFF;
}


		