header{
	background: #666666;
	text-align: center;
}
h1{
	color: orange;
	font-size: 200%;
}
h3{
	color: white;
}
div{
	display: inline-block;
	height:250px;
	width:250px;
	background: silver;
	text-allign: center;
}
